html,
body {
  background-color: #eee;
  color: #333;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a,
a:hover {
  color: #3399cc;
}

.row.dark {
  background-color: #222;
  color: #fafafa;
}
.row.dark a {
  color: #fafafa;
}
.row.dark a:hover {
  color: #3399cc;
}
.row.dark hr {
  border-color: rgba(255,255,255,0.1);
}

.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
}

.no-padding {
  padding: 0;
}
.vertical-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.fa-twitter:hover {
  color: #1DA1F2; /* Twitter blue according to brand guidelines */
}
.fa-twitch:hover {
  color: #6441A4; /* Twitch purple according to brand guidelines */
}
.fa-youtube:hover {
  color: #e52d27; /* Youtube red according to brand guidelines */
}
