body {
  background-color: #030303;
  margin: 0;
  padding: 0;
  color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #f0f0f0;
  text-decoration: none;
  transition: 0.2s;
}
a:hover {
  opacity: 0.7;
  transition: 0.2s;
}

i {
  margin: 0 1em;
}

.main {
  display: flex;
  align-items: center;
  background-image: url(../Background.jpg);
  background-position: center 30%;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 90vw;
}

.icons {
  margin-top: 50vh;
}

.name {
  letter-spacing: 15px;
  margin-top: 42px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  i {
    font-size: 1.5em;
    margin: 0 0.5em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  i {
    font-size: 1.5em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  i {
    font-size: 2em;
  }
}
