body {
  background-color: #222;
  background-image: url('../assets/bg.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 1px 1px #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
  font-weight: bold;
}

a i {
  color: #ccc;
  text-decoration: none;
  transition: 1s;
}

a i:hover {
  color: #eee;
  text-shadow: 0px 0px 20px #fff;
  transition: 0s;
}

hr {
  border-top: 1px dotted #ccc;
  width: 70%;
}

.mt {
  margin-top: 5%;
}

.card {
  background-color: rgba(0,0,0,0.7);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.7);
  color: #ddd;
}

.card-info {
  padding: 10px 20px 20px;
}

twitch-embed {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}
