body {
  background-image: url(assets/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}

.card {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  max-width: 600px;
  min-width: 300px;\
  padding: 50px;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}
