/* MAIN */
body {
  background-color: #333;
  background-image: url(assets/bg.jpg);
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

/* HELPERS */
.center-block {
  margin-left: auto;
  margin-right: auto;
}

/* CARD */
.card {
  background-color: rgba(0,0,0,0.5);
  color: #ccc;
  width: 35%;
  box-shadow: 0px 3px 20px rgba(0,0,0,0.8);
}

.card-photo img {
  display: block;
  width: 100%;
  height: auto;
}

.card-body {
  padding: 30px;
}

/* MEDIA QUERIES */
@media (max-width:1024px) {
  .card {
    width: 40%;
  }
}

@media (max-width:768px) {
  .card {
    width: 60%;
  }
}

@media (max-width:425px) {
  .container {
    margin-top: 2em;
  }
  .card {
    width: 90%;
  }
}
